<div class="header">
    <div class="container wrapperbc">
        <div class="row midwrapper">
            <div class="cuspad col-md-1">
                <a href="#" class="navbar-left"> <img src="~/Content/Image/Logo.png" width="60" height="40" /> </a>
            </div>

            <div class="cuspad col-md-2">
                <div class="dropdown row">
                    <a href="javascript:void(0)" class="dropbtn">
                        <div class="cuspad col-sm-4"><img src="~/Content/Image/nutton.png" width="32" height="32" /></div>
                        <div class="cuspad col-sm-8">
                            <span class="font1 pull-left">Danh mục </span><br>
                            <span class="pull-left">Tài khoản</span>
                            <span class="pull-left"><img src="~/Content/Image/down.png" width="16" height="16" /></span>
                        </div>
                    </a>
                    <div class="dropdown-content">
                        <a href="#">Điện thoại - Máy tính bảng</a>
                        <a href="#">Điện tử - Điện lạnh</a>
                        <a href="#">Phụ kiện - Thiết bị số</a>
                        <a href="#">Laptop - Thiết bị IT</a>
                        <a href="#">Máy ảnh - Quay phim</a>
                        <a href="#">Điện gia dụng</a>
                        <a href="#">Nhà cửa đời sống </a>
                        <a href="#">Hàng tiêu dùng</a>
                        <a href="#">Đồ chơi mẹ bé</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <input class="marginnone" type="text" placeholder="Search" aria-label="Tìm kiếm sản phẩm">
                <input class="btn btn-primary" type="button" value="Tìm kiếm">
            </div>

            <div class="col-md-2">
                <div class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn"></a>
                    <div class="cuspad col-sm-4"><img src="~/Content/Image/Human.png" width="32" height="32" /></div>
                    <div class="cuspad col-sm-8">
                        <span class="font1 pull-left">Đăng ký / Đăng nhập</span><br>
                        <span class="pull-left">Tài khoản</span>
                        <span class="pull-left"><img src="~/Content/Image/down.png" width="16" height="16" /></span>
                    </div>
                </div>
            </div>

            <div class="col-md-1">
                <a href="/"><img src="~/Content/Image/Shoppingcart.png" width="32" height="32" /></a>
            </div>
        </div>
    </div>
</div>
